@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f8fafc;
  color: #0f172a;
}

button {
  outline: none;
}

.flex-center {
  @apply flex items-center justify-center;
}

.container {
  @apply max-w-6xl mx-auto px-4;
}

.card {
  @apply max-w-sm w-full bg-white border rounded-xl shadow-sm p-4;
}

.section-title {
  @apply text-lg font-bold text-slate-800 mb-3 pb-2 border-b border-primary capitalize;
}

.text-muted {
  @apply text-gray-500 text-sm;
}

/*    TABLE STYLES */

.table {
  @apply w-full border border-blue-100 rounded-2xl ;
}

.table th {
  @apply bg-blue-50 border px-3 py-2 text-center font-semibold;
}

.table td {
  @apply border px-3 py-2;
}

.table-row-hover {
  @apply hover:bg-gray-50 transition;
}

.table-row-active {
  @apply bg-blue-50;
}

/*   BUTTON STYLES */

.btn {
  @apply h-12 px-6 rounded transition font-medium;
}

.btn-primary {
  @apply bg-primary text-white hover:bg-blue-600;
}

.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300;
}

.btn-disabled {
  @apply opacity-50 cursor-not-allowed;
}



.skeleton {
  @apply bg-gray-200 rounded  h-8 animate-pulse;
}
